.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-family: var(--font-main);
}

.punteggi-table {
  display: flex;
}

.cell-info {
  display: flex;
  gap : 10px;
  font-size: 16px;
}

.inputs {
  display: flex;
  gap: 55px;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 8px;
}

.inputs label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: black;
  font-size: 14px;
}

.inputs input {
  margin-top: 5px;
  padding: 6px 10px;
  border: 1px solid rgba(46, 37, 37, 0.2);
  border-radius: 4px;
  transition: ease-in-out 0.2s;
}

.inputs input:focus {
  outline: none;
  border-color: var(--highlight);
  box-shadow: 0 0 5px var(--highlight);
}
